.section-header-title-white {
  max-width: 600px;
  padding: 40px 0;
  color: white;

  h2 {
    font-size: 40px;
  }
}

.section-header-title-black {
  max-width: 600px;
  padding: 40px 0;
  color: black;

  h2 {
    font-size: 40px;
  }
}